:root {
  --color-main: #001F3F;         /* Deep Navy */
  --color-secondary: #191970;    /* Midnight Blue */
  --color-highlight: #0047AB;    /* Royal Azure */
  --color-accent: #D4A843;       /* Soft Gold */
  --color-neutral: #D3D3D3;      /* Light Silver */
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;                 /* Ensure body and html take full height */
  font-family: Arial, Helvetica, sans-serif;
}

.cards-container {
  display: flex;
  justify-content: center;      /* Center cards horizontally */
  align-items: center;          /* Center cards vertically */
  flex-direction: column;       /* Stack cards vertically */
  height: 32vh;                /* Full height of the viewport */
  padding: 20px;
}

.admin-event-card {
  background-color: var(--color-main);
  color: white;
  padding: 20px;
  margin: 5px 0;               /* Add vertical space between cards */
  border-radius: 10px;
  width: 90%;                   /* Responsive width */
  max-width: 300px;             /* Maximum width for larger screens */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  cursor: pointer;
}

.info-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close-btn {
  background-color: var(--color-main);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.close-btn:hover {
  background-color: var(--color-highlight);
}
