:root {
    --color-main: #001F3F;         /* Deep Navy */
    --color-secondary: #191970;    /* Midnight Blue */
    --color-highlight: #0047AB;    /* Royal Azure */
    --color-accent: #D4A843;       /* Soft Gold */
    --color-neutral: #D3D3D3;      /* Light Silver */
}

.adminheader {
    background-color: #001f3d;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh; /* Scales header height with viewport height */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Keeps content towards the bottom */
}
  
.adminheaderBlock {
    display: flex;
    align-items: center; /* Vertically centers items within the flex container */
    justify-content: center; /* Horizontally centers items */
    margin-bottom: 0; /* Adjust as needed */
}

.adminIcon{
    width: 2.75em; /* Uses em units for scalable image size */
    height: 4em;
    padding-left: 0;
    padding-right: 7%;
    padding-bottom: 3%;
}
  
.admin-heading {
    font-size: 2rem; /* Uses rem units for scalable font size */
}

.admin-home-container {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align content to the top */
    height: 100vh; /* Full viewport height */
    padding: 2px; /* Add padding if necessary */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.admin-home-cards {
    background-color: #00203f;
    color: white;
    margin-top: 7px; /* Adjusted margin to reduce space above each card */
    padding: 1.5rem; /* Scalable padding */
    border-radius: 0.8rem; /* Scalable border radius */
    width: 90%; /* Responsive card width */
    max-width: 300px; /* Prevents the card from getting too large */
}

/* Optional: Responsive adjustments */
@media (max-width: 600px) {
    .admin-home-cards {
        width: 95%; /* Increase width on smaller screens */
        padding: 1rem;
    }
}
