:root {
    --color-main: #001F3F;         /* Deep Navy */
    --color-secondary: #191970;    /* Midnight Blue */
    --color-highlight: #0047AB;    /* Royal Azure */
    --color-accent: #D4A843;       /* Soft Gold */
    --color-neutral: #D3D3D3;      /* Light Silver */
}

.venue-filter {
    margin: 20px 0; /* Add margin around the dropdown */
    display: flex; /* Use flexbox for alignment */
    justify-content: center; /* Center the dropdown */
}

.venue-filter select {
    padding: 15px; /* Increase padding for better spacing */
    border: 2px solid var(--color-main); /* Use your main color for border */
    border-radius: 5px; /* Rounded corners */
    background-color: var(--color-neutral); /* Background color */
    color: black; /* Set text color to black */
    font-size: 18px; /* Increase font size */
    cursor: pointer; /* Change cursor on hover */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
    width: 200px; /* Set a fixed width (adjust as needed) */
}

.venue-filter select:hover {
    border-color: var(--color-highlight); /* Highlight on hover */
}

.venue-filter select:focus {
    outline: none; /* Remove default focus outline */
    border-color: var(--color-accent); /* Change border color on focus */
}

.issues-list {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    padding-bottom: 100px;
}

.issue-filters {
    display: flex;
    justify-content: space-around; /* Space buttons evenly across the container */
    padding: 10px 0; /* Add vertical padding */
}

.issues-filter-btn {
    background-color: var(--color-accent);
    color: white; /* Text color matching the main color */
    border: none; /* Remove default button border */
    border-radius: 20px; /* Rounded edges */
    padding: 20px 20px; /* Button padding */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
    max-width: 600px;
    font-size: large; /* Default font size */
}

.issues-filter-btn:hover {
    background-color: var(--color-highlight); /* Change color on hover */
    color: white; /* Change text color on hover */
    transform: scale(1.20);
}

.issues-reported-centered-container {
    display: flex;
    justify-content: center; /* Centers the container horizontally */
    align-items: center; /* Centers the container vertically */
    height: 88vh;
}