.logout-button {
    background-color: #001F3F; /* Deep Navy */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.logout-button:hover {
    background-color: #0047AB; /* Royal Azure */
}