/* Booking Page Container */
.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    height: 100vh;
  }
/* Calendar Placeholder */
.calendar-placeholder {
    width: 100%;
    background-color: white;
    height: auto;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  /* Booking Form Fields */
  .booking-form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    align-items: center;
    
  }
  
  .input-field {
    height: 50px;
    width: 90%;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #e0e0e0;
    text-align: center;
  }
  
  .predefined-field {
    height: 50px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    border-radius: 10px;
    font-size: 16px;

  }
  
  /* Book Event Button */
  .book-button {
    height: 50px;
    background-color: #d4af37;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .book-button:hover {
    background-color: #c2952b;
  }