:root {
    --color-main: #001F3F;         /* Deep Navy */
    --color-secondary: #191970;    /* Midnight Blue */
    --color-highlight: #0047AB;    /* Royal Azure */
    --color-accent: #D4A843;       /* Soft Gold */
    --color-neutral: #D3D3D3;      /* Light Silver */
}

.room-selection-content-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 85vh;
    max-width: 500px;
    
    gap: 5%;

    padding-top: 4%;
}

.circle-question-icon {
    width: 8%;
}

.features-container {
    align-self: self-start;
    /* background-color: blueviolet; */
    margin-left: 10%;
    font-size: medium;
}

.features-list {
    text-align: start;
    margin-left: 20%;
}

.features-popup-button {
    width: 35%;
    background-color: var(--color-highlight);
}
