:root {
    --color-main: #001F3F;         /* Deep Navy */
    --color-secondary: #191970;    /* Midnight Blue */
    --color-highlight: #0047AB;    /* Royal Azure */
    --color-accent: #D4A843;       /* Soft Gold */
    --color-neutral: #D3D3D3;      /* Light Silver */
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .notification-popup-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    .notification-popup-overlay label{
      color: white;
      font-size: 25px;
    }
    .notification-popup-content {
      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      background: white;
      border-radius: 10px;
      border: 4px solid var(--color-main);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 400px;
      width: 70%;
      text-align: center;
    }
    .notification-header{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items:center ;
      width: 100%;
    }
    .notification-subheader{
      margin: 0;
      background-color:#001F3F ;
      color: white;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .notification-popup-content img{
      width: 15%;
      margin: 0;
    }

    .notification-popup-content h2 {
      margin-top: 5%;
      font-size: x-large;
      margin-top: 5%;
      padding: 0%;
    }
    .notification-popup-content p {
      justify-self: center;
    }
    
    .notification-close-btn {
      background-color: #001F3F; /* Deep Navy */
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    .notification-close-btn:hover {
      background-color: #0047AB; /* Royal Azure */
    }
    