.report-issue-layout{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #001F3F;  /* Button color */
    color: white;  /* Button text color */
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;

}
.report-icons{
    color: white;
    height: 30px;
    width: 30px;
  }
.report-issue-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 15vh;
    gap: 10px;


}
.report-issue-layout h1{
    cursor: pointer;
    font-size: 1.8em;  /* Font size */
    font-family: Arial, sans-serif;
}

.report-issue-layout h2{
    font-family: Arial, sans-serif;
    font-size: 20px;  /* Font size */
}
.report-issue-layout h3{
    font-family: Arial, sans-serif;
    font-size: 20px;  /* Font size */
    margin: 0;
}
.report-issue-container{
    display: flex;
    justify-content: center;
    background-color: white;
    color: black;
    width: 100vw;
    height: 100vh;
    border-top-left-radius: 80px ;
    border-top-right-radius: 80px ;
    padding-top: 5vh;
    
}
.report-issue-container form {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.report-issue-container label{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin-bottom: 5vh;

}
.report-issue-container article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.report-issue-container article p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E6E6E6;
    width: 80vw;
    height: 5vh;
    border-radius: 5px;
}
.report-issue-container input{
    background-color: #E6E6E6;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
}
.report-issue-container textarea {
    background-color: #E6E6E6;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

.report-issue-container button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-self: center;
    gap:10px;
    background-color: #191970;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.report-issue-container button img{
    height: 25px;
    width: 25px;
}

.report-issue-container button:hover {
    background-color: #141c5c;
}
.report-Issue-Popups{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.report-Issue-Popups h2{
    padding:0;

}

.report-Issue-Popups article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25%

}

.report-Issue-Popups button {
    background-color: #001F3F; /* Deep Navy */
    color: white;
    padding: 10px 20px;
    width: 50%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .report-Issue-Popups button:hover {
    background-color: #0047AB; /* Royal Azure, change on hover */
  }
  
  .report-Issue-Popups button:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2); /* Add custom focus ring */
  }