.building-selection-centered-container {
    display: flex;
    justify-content: center; /* Centers the container horizontally */
    align-items: center; /* Centers the container vertically */
    height: 88vh;
}

.building-selection-content-section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 85vh;
    max-width: 500px;
    
    gap: 5%;

    padding-top: 4%;
}