.header {
    background-color: #001f3d;
    color: white;
    text-align: center;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 15vh; /* Scales header height with viewport height */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Keeps content towards the bottom */
}
  
.headerBlock {
    display: flex;
    align-items: center; /* Vertically centers items within the flex container */
    justify-content: center; /* Horizontally centers items */
    margin-bottom: 0; /* Adjust as needed */
}

.headerBlock img {
    width: 2.75em; /* Uses em units for scalable image size */
    height: 4em;
    padding-left: 0;
    padding-right: 7%;
    padding-bottom: 3%;
}
  
.headerBlock h1 {
    font-size: 2rem; /* Uses rem units for scalable font size */
}