* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw; /* Ensure the body spans the full viewport width */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}


.navheader {
  height: 12vh;
  width: 100%; /* Explicitly set width to the full viewport width */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main); /* The dark blue color */
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-sizing: border-box; /* Ensures padding is included in the element's total width and height */
  gap: 2%;
}

.chevron-icon {
  width: 1.8em;
  height: 1.8em;
}

.header-title {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.2;
}
